body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../91Mobiles_Home_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1579px;
    height:207px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1579px;
    height:207px;
}

.u1 {
    position:absolute;
    left:2px;
    top:96px;
    width:1575px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../91Mobiles_Home_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:302px;
    top:168px;
    width:976px;
    height:39px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:982px;
    height:45px;
}

.u3 {
    position:absolute;
    left:2px;
    top:12px;
    width:972px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../91Mobiles_Home_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:0px;
    top:238px;
    width:1579px;
    height:544px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1579px;
    height:544px;
}

.u5 {
    position:absolute;
    left:2px;
    top:264px;
    width:1575px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../91Mobiles_Home_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:971px;
    top:168px;
    width:143px;
    height:40px;
}

#u6_img {
    position:absolute;
    left:0px;
    top:0px;
    width:143px;
    height:40px;
}

.u7 {
    position:absolute;
    left:2px;
    top:12px;
    width:139px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_line {
    background-image: url('../91Mobiles_Home_files/u8_line.png');
}

.u8_line {
    position:absolute;
    left:0px;
    top:3px;
    width:147px;
    height:5px;
}

.u8 {
    position:absolute;
    left:1124px;
    top:168px;
    width:147px;
    height:10px;
    
}

.u9_line {
    background-image: url('../91Mobiles_Home_files/u9_line.png');
}

.u9_line {
    position:absolute;
    left:0px;
    top:4px;
    width:147px;
    height:3px;
}

.u9 {
    position:absolute;
    left:1124px;
    top:197px;
    width:147px;
    height:10px;
    
}

.u10 {
    position:absolute;
    left:1128px;
    top:178px;
    width:127px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../91Mobiles_Home_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:301px;
    top:188px;
    width:977px;
    height:40px;
}

#u11_img {
    position:absolute;
    left:0px;
    top:0px;
    width:977px;
    height:40px;
}

.u12 {
    position:absolute;
    left:2px;
    top:12px;
    width:973px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../91Mobiles_Home_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:287px;
    top:208px;
    width:14px;
    height:31px;
}

#u13_img {
    position:absolute;
    left:0px;
    top:0px;
    width:14px;
    height:31px;
}

.u14 {
    position:absolute;
    left:2px;
    top:8px;
    width:10px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../91Mobiles_Home_files/u13_normal.png');
}

.u15_container {
    position:absolute;
    left:1279px;
    top:208px;
    width:14px;
    height:31px;
}

#u15_img {
    position:absolute;
    left:0px;
    top:0px;
    width:14px;
    height:31px;
}

.u16 {
    position:absolute;
    left:2px;
    top:8px;
    width:10px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u17_container {
    position:absolute;
    left:1124px;
    top:191px;
    width:154px;
    height:36px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:160px;
    height:42px;
}

.u18 {
    position:absolute;
    left:2px;
    top:10px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../91Mobiles_Home_files/u19_normal.png');
}

.u19_container {
    position:absolute;
    left:308px;
    top:163px;
    width:970px;
    height:27px;-webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);

}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:976px;
    height:33px;
}

.u20 {
    position:absolute;
    left:2px;
    top:6px;
    width:966px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:556px;
    top:167px;
    width:382px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:948px;
    top:168px;
    width:194px;
    height:16px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 11px;
    color:#949494;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u23_normal {
    background-image: url('../91Mobiles_Home_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:1147px;
    top:167px;
    width:52px;
    height:15px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:58px;
    height:21px;
}

.u24 {
    position:absolute;
    left:2px;
    top:0px;
    width:48px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../91Mobiles_Home_files/u25_normal.png');
}

.u25_container {
    position:absolute;
    left:1211px;
    top:167px;
    width:60px;
    height:15px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:21px;
}

.u26 {
    position:absolute;
    left:2px;
    top:0px;
    width:56px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

