body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Header_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1583px;
    height:402px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1583px;
    height:402px;
}

.u1 {
    position:absolute;
    left:2px;
    top:193px;
    width:1579px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../Header_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:0px;
    top:144px;
    width:1583px;
    height:1292px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1583px;
    height:1292px;
}

.u3 {
    position:absolute;
    left:2px;
    top:638px;
    width:1579px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../Header_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:1506px;
    top:115px;
    width:68px;
    height:222px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:68px;
    height:222px;
}

.u5 {
    position:absolute;
    left:2px;
    top:103px;
    width:64px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../Home_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:317px;
    top:163px;
    width:972px;
    height:117px;
}

#u7_img {
    position:absolute;
    left:0px;
    top:0px;
    width:972px;
    height:117px;
}

.u8 {
    position:absolute;
    left:2px;
    top:50px;
    width:968px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../Home_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:308px;
    top:600px;
    width:990px;
    height:2131px;
}

#u9_img {
    position:absolute;
    left:0px;
    top:0px;
    width:990px;
    height:2131px;
}

.u10 {
    position:absolute;
    left:2px;
    top:1058px;
    width:986px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../Home_files/u7_normal.png');
}

.u11_container {
    position:absolute;
    left:317px;
    top:309px;
    width:972px;
    height:117px;
}

#u11_img {
    position:absolute;
    left:0px;
    top:0px;
    width:972px;
    height:117px;
}

.u12 {
    position:absolute;
    left:2px;
    top:50px;
    width:968px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../Home_files/u7_normal.png');
}

.u13_container {
    position:absolute;
    left:317px;
    top:451px;
    width:972px;
    height:117px;
}

#u13_img {
    position:absolute;
    left:0px;
    top:0px;
    width:972px;
    height:117px;
}

.u14 {
    position:absolute;
    left:2px;
    top:50px;
    width:968px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../Home_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:325px;
    top:309px;
    width:230px;
    height:29px;
}

#u15_img {
    position:absolute;
    left:0px;
    top:0px;
    width:230px;
    height:29px;
}

.u16 {
    position:absolute;
    left:2px;
    top:6px;
    width:226px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../Home_files/u15_normal.png');
}

.u17_container {
    position:absolute;
    left:317px;
    top:451px;
    width:230px;
    height:29px;
}

#u17_img {
    position:absolute;
    left:0px;
    top:0px;
    width:230px;
    height:29px;
}

.u18 {
    position:absolute;
    left:2px;
    top:6px;
    width:226px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:324px;
    top:458px;
    width:251px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:324px;
    top:318px;
    width:221px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../Home_files/u21_normal.png');
}

.u21_container {
    position:absolute;
    left:424px;
    top:503px;
    width:79px;
    height:51px;
}

#u21_img {
    position:absolute;
    left:0px;
    top:0px;
    width:79px;
    height:51px;
}

.u22 {
    position:absolute;
    left:2px;
    top:18px;
    width:75px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../Home_files/u21_normal.png');
}

.u23_container {
    position:absolute;
    left:331px;
    top:503px;
    width:79px;
    height:51px;
}

#u23_img {
    position:absolute;
    left:0px;
    top:0px;
    width:79px;
    height:51px;
}

.u24 {
    position:absolute;
    left:2px;
    top:18px;
    width:75px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../Home_files/u21_normal.png');
}

.u25_container {
    position:absolute;
    left:523px;
    top:503px;
    width:79px;
    height:51px;
}

#u25_img {
    position:absolute;
    left:0px;
    top:0px;
    width:79px;
    height:51px;
}

.u26 {
    position:absolute;
    left:2px;
    top:18px;
    width:75px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../Home_files/u21_normal.png');
}

.u27_container {
    position:absolute;
    left:620px;
    top:501px;
    width:79px;
    height:51px;
}

#u27_img {
    position:absolute;
    left:0px;
    top:0px;
    width:79px;
    height:51px;
}

.u28 {
    position:absolute;
    left:2px;
    top:18px;
    width:75px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../Home_files/u21_normal.png');
}

.u29_container {
    position:absolute;
    left:715px;
    top:503px;
    width:79px;
    height:51px;
}

#u29_img {
    position:absolute;
    left:0px;
    top:0px;
    width:79px;
    height:51px;
}

.u30 {
    position:absolute;
    left:2px;
    top:18px;
    width:75px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../Home_files/u21_normal.png');
}

.u31_container {
    position:absolute;
    left:815px;
    top:503px;
    width:79px;
    height:51px;
}

#u31_img {
    position:absolute;
    left:0px;
    top:0px;
    width:79px;
    height:51px;
}

.u32 {
    position:absolute;
    left:2px;
    top:18px;
    width:75px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../Home_files/u33_normal.png');
}

.u33_container {
    position:absolute;
    left:908px;
    top:503px;
    width:79px;
    height:53px;
}

#u33_img {
    position:absolute;
    left:0px;
    top:0px;
    width:79px;
    height:53px;
}

.u34 {
    position:absolute;
    left:2px;
    top:18px;
    width:75px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../Home_files/u21_normal.png');
}

.u35_container {
    position:absolute;
    left:1009px;
    top:503px;
    width:79px;
    height:51px;
}

#u35_img {
    position:absolute;
    left:0px;
    top:0px;
    width:79px;
    height:51px;
}

.u36 {
    position:absolute;
    left:2px;
    top:18px;
    width:75px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../Home_files/u21_normal.png');
}

.u37_container {
    position:absolute;
    left:1198px;
    top:503px;
    width:79px;
    height:51px;
}

#u37_img {
    position:absolute;
    left:0px;
    top:0px;
    width:79px;
    height:51px;
}

.u38 {
    position:absolute;
    left:2px;
    top:18px;
    width:75px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../Home_files/u21_normal.png');
}

.u39_container {
    position:absolute;
    left:1107px;
    top:503px;
    width:79px;
    height:51px;
}

#u39_img {
    position:absolute;
    left:0px;
    top:0px;
    width:79px;
    height:51px;
}

.u40 {
    position:absolute;
    left:2px;
    top:18px;
    width:75px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../Home_files/u21_normal.png');
}

.u41_container {
    position:absolute;
    left:424px;
    top:361px;
    width:79px;
    height:51px;
}

#u41_img {
    position:absolute;
    left:0px;
    top:0px;
    width:79px;
    height:51px;
}

.u42 {
    position:absolute;
    left:2px;
    top:18px;
    width:75px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../Home_files/u21_normal.png');
}

.u43_container {
    position:absolute;
    left:331px;
    top:361px;
    width:79px;
    height:51px;
}

#u43_img {
    position:absolute;
    left:0px;
    top:0px;
    width:79px;
    height:51px;
}

.u44 {
    position:absolute;
    left:2px;
    top:18px;
    width:75px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../Home_files/u21_normal.png');
}

.u45_container {
    position:absolute;
    left:523px;
    top:361px;
    width:79px;
    height:51px;
}

#u45_img {
    position:absolute;
    left:0px;
    top:0px;
    width:79px;
    height:51px;
}

.u46 {
    position:absolute;
    left:2px;
    top:18px;
    width:75px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../Home_files/u21_normal.png');
}

.u47_container {
    position:absolute;
    left:620px;
    top:359px;
    width:79px;
    height:51px;
}

#u47_img {
    position:absolute;
    left:0px;
    top:0px;
    width:79px;
    height:51px;
}

.u48 {
    position:absolute;
    left:2px;
    top:18px;
    width:75px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../Home_files/u21_normal.png');
}

.u49_container {
    position:absolute;
    left:715px;
    top:361px;
    width:79px;
    height:51px;
}

#u49_img {
    position:absolute;
    left:0px;
    top:0px;
    width:79px;
    height:51px;
}

.u50 {
    position:absolute;
    left:2px;
    top:18px;
    width:75px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../Home_files/u21_normal.png');
}

.u51_container {
    position:absolute;
    left:815px;
    top:361px;
    width:79px;
    height:51px;
}

#u51_img {
    position:absolute;
    left:0px;
    top:0px;
    width:79px;
    height:51px;
}

.u52 {
    position:absolute;
    left:2px;
    top:18px;
    width:75px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../Home_files/u53_normal.png');
}

.u53_container {
    position:absolute;
    left:908px;
    top:361px;
    width:79px;
    height:54px;
}

#u53_img {
    position:absolute;
    left:0px;
    top:0px;
    width:79px;
    height:54px;
}

.u54 {
    position:absolute;
    left:2px;
    top:19px;
    width:75px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../Home_files/u21_normal.png');
}

.u55_container {
    position:absolute;
    left:1009px;
    top:361px;
    width:79px;
    height:51px;
}

#u55_img {
    position:absolute;
    left:0px;
    top:0px;
    width:79px;
    height:51px;
}

.u56 {
    position:absolute;
    left:2px;
    top:18px;
    width:75px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../Home_files/u21_normal.png');
}

.u57_container {
    position:absolute;
    left:1198px;
    top:361px;
    width:79px;
    height:51px;
}

#u57_img {
    position:absolute;
    left:0px;
    top:0px;
    width:79px;
    height:51px;
}

.u58 {
    position:absolute;
    left:2px;
    top:18px;
    width:75px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../Home_files/u21_normal.png');
}

.u59_container {
    position:absolute;
    left:1107px;
    top:361px;
    width:79px;
    height:51px;
}

#u59_img {
    position:absolute;
    left:0px;
    top:0px;
    width:79px;
    height:51px;
}

.u60 {
    position:absolute;
    left:2px;
    top:18px;
    width:75px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../Home_files/u61_normal.png');
}

.u61_container {
    position:absolute;
    left:327px;
    top:363px;
    width:76px;
    height:45px;
}

#u61_img {
    position:absolute;
    left:0px;
    top:0px;
    width:76px;
    height:45px;
}

.u62 {
    position:absolute;
    left:2px;
    top:14px;
    width:72px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../Home_files/u61_normal.png');
}

.u63_container {
    position:absolute;
    left:427px;
    top:363px;
    width:76px;
    height:45px;
}

#u63_img {
    position:absolute;
    left:0px;
    top:0px;
    width:76px;
    height:45px;
}

.u64 {
    position:absolute;
    left:2px;
    top:14px;
    width:72px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../Home_files/u61_normal.png');
}

.u65_container {
    position:absolute;
    left:526px;
    top:363px;
    width:76px;
    height:45px;
}

#u65_img {
    position:absolute;
    left:0px;
    top:0px;
    width:76px;
    height:45px;
}

.u66 {
    position:absolute;
    left:2px;
    top:14px;
    width:72px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_normal {
    background-image: url('../Home_files/u61_normal.png');
}

.u67_container {
    position:absolute;
    left:623px;
    top:363px;
    width:76px;
    height:45px;
}

#u67_img {
    position:absolute;
    left:0px;
    top:0px;
    width:76px;
    height:45px;
}

.u68 {
    position:absolute;
    left:2px;
    top:14px;
    width:72px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_normal {
    background-image: url('../Home_files/u61_normal.png');
}

.u69_container {
    position:absolute;
    left:715px;
    top:363px;
    width:76px;
    height:45px;
}

#u69_img {
    position:absolute;
    left:0px;
    top:0px;
    width:76px;
    height:45px;
}

.u70 {
    position:absolute;
    left:2px;
    top:14px;
    width:72px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_normal {
    background-image: url('../Home_files/u61_normal.png');
}

.u71_container {
    position:absolute;
    left:815px;
    top:363px;
    width:76px;
    height:45px;
}

#u71_img {
    position:absolute;
    left:0px;
    top:0px;
    width:76px;
    height:45px;
}

.u72 {
    position:absolute;
    left:2px;
    top:14px;
    width:72px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_normal {
    background-image: url('../Home_files/u61_normal.png');
}

.u73_container {
    position:absolute;
    left:910px;
    top:363px;
    width:76px;
    height:45px;
}

#u73_img {
    position:absolute;
    left:0px;
    top:0px;
    width:76px;
    height:45px;
}

.u74 {
    position:absolute;
    left:2px;
    top:14px;
    width:72px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_normal {
    background-image: url('../Home_files/u61_normal.png');
}

.u75_container {
    position:absolute;
    left:1112px;
    top:363px;
    width:76px;
    height:45px;
}

#u75_img {
    position:absolute;
    left:0px;
    top:0px;
    width:76px;
    height:45px;
}

.u76 {
    position:absolute;
    left:2px;
    top:14px;
    width:72px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_normal {
    background-image: url('../Home_files/u61_normal.png');
}

.u77_container {
    position:absolute;
    left:1009px;
    top:363px;
    width:76px;
    height:45px;
}

#u77_img {
    position:absolute;
    left:0px;
    top:0px;
    width:76px;
    height:45px;
}

.u78 {
    position:absolute;
    left:2px;
    top:14px;
    width:72px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79_normal {
    background-image: url('../Home_files/u61_normal.png');
}

.u79_container {
    position:absolute;
    left:1202px;
    top:363px;
    width:76px;
    height:45px;
}

#u79_img {
    position:absolute;
    left:0px;
    top:0px;
    width:76px;
    height:45px;
}

.u80 {
    position:absolute;
    left:2px;
    top:14px;
    width:72px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81_normal {
    background-image: url('../Home_files/u81_normal.png');
}

.u81_container {
    position:absolute;
    left:346px;
    top:501px;
    width:50px;
    height:53px;
}

#u81_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:53px;
}

.u82 {
    position:absolute;
    left:2px;
    top:18px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83_normal {
    background-image: url('../Home_files/u81_normal.png');
}

.u83_container {
    position:absolute;
    left:438px;
    top:501px;
    width:50px;
    height:53px;
}

#u83_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:53px;
}

.u84 {
    position:absolute;
    left:2px;
    top:18px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85_normal {
    background-image: url('../Home_files/u81_normal.png');
}

.u85_container {
    position:absolute;
    left:634px;
    top:501px;
    width:50px;
    height:53px;
}

#u85_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:53px;
}

.u86 {
    position:absolute;
    left:2px;
    top:18px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_normal {
    background-image: url('../Home_files/u81_normal.png');
}

.u87_container {
    position:absolute;
    left:830px;
    top:501px;
    width:50px;
    height:53px;
}

#u87_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:53px;
}

.u88 {
    position:absolute;
    left:2px;
    top:18px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89_normal {
    background-image: url('../Home_files/u81_normal.png');
}

.u89_container {
    position:absolute;
    left:922px;
    top:501px;
    width:50px;
    height:53px;
}

#u89_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:53px;
}

.u90 {
    position:absolute;
    left:2px;
    top:18px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91_normal {
    background-image: url('../Home_files/u81_normal.png');
}

.u91_container {
    position:absolute;
    left:1024px;
    top:501px;
    width:50px;
    height:53px;
}

#u91_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:53px;
}

.u92 {
    position:absolute;
    left:2px;
    top:18px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93_normal {
    background-image: url('../Home_files/u81_normal.png');
}

.u93_container {
    position:absolute;
    left:1122px;
    top:501px;
    width:50px;
    height:53px;
}

#u93_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:53px;
}

.u94 {
    position:absolute;
    left:2px;
    top:18px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95_normal {
    background-image: url('../Home_files/u81_normal.png');
}

.u95_container {
    position:absolute;
    left:1212px;
    top:501px;
    width:50px;
    height:53px;
}

#u95_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:53px;
}

.u96 {
    position:absolute;
    left:2px;
    top:18px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97_normal {
    background-image: url('../Home_files/u81_normal.png');
}

.u97_container {
    position:absolute;
    left:730px;
    top:501px;
    width:50px;
    height:53px;
}

#u97_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:53px;
}

.u98 {
    position:absolute;
    left:2px;
    top:18px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99_normal {
    background-image: url('../Home_files/u81_normal.png');
}

.u99_container {
    position:absolute;
    left:538px;
    top:501px;
    width:50px;
    height:53px;
}

#u99_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:53px;
}

.u100 {
    position:absolute;
    left:2px;
    top:18px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101_normal {
    background-image: url('../Home_files/u101_normal.png');
}

.u101_container {
    position:absolute;
    left:855px;
    top:1148px;
    width:442px;
    height:433px;
}

#u101_img {
    position:absolute;
    left:0px;
    top:0px;
    width:442px;
    height:433px;
}

.u102 {
    position:absolute;
    left:2px;
    top:208px;
    width:438px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103_normal {
    background-image: url('../Home_files/u103_normal.png');
}

.u103_container {
    position:absolute;
    left:961px;
    top:1106px;
    width:133px;
    height:36px;
}

#u103_img {
    position:absolute;
    left:0px;
    top:0px;
    width:133px;
    height:36px;
}

.u104 {
    position:absolute;
    left:2px;
    top:10px;
    width:129px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105 {
    position:absolute;
    left:882px;
    top:1112px;
    width:221px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

