/* Added by Incaendo <http://incaendo.com> -- START */
/* For coupon finder block on offers.couponvoodoo.com */

#block-coupons-coupons_finder_taxonomy .content .submit input { background: none repeat scroll 0 0 #f7971c; border: medium none; color: #fff; font-weight: bold; padding: 8px 20px 8px; font-size: 14px;}
#block-coupons-coupons_finder_taxonomy .form-item, .form-actions { float: left; width: 74%;}
#block-coupons-coupons_finder_taxonomy .form-text { padding: 5px; font-size: 16px}
#block-coupons-coupons_finder_taxonomy .content .submit {float: right; margin-top: 1em; width: 26%; margin-bottom:1em;}
.main_menu {width:100%!important; float: left; background-color:#878787; margin-left: 0px!important; margin-top: 0px!important;}
#header .main_menu .region {max-width:940px; margin: 0 auto;}
#block-nice_menus-1 .content {padding: 10px 0; width:100%!important; float: left;}
#block-nice_menus-1 .contextual-links-trigger {margin-top: 20px;}
#nice-menu-1 .menu-path-nolink ul li span{font-size: 12px; line-height: 30px;}
.nice_menu1 .content ul li a, .nice_menu1 .content ul li span {line-height: 30px!important;}
/*category list start*/
.vocab-list-parent {width: 100%; float:left; border-bottom: 1px solid #ccc; padding-bottom: 10px!important;}
.vocab-list-parent .vocab-list-term {width: 20%; float: left;} 
.vocab-list-parent .imges {width: 20%; float: left;} 
.vocab-list-parent h2{margin-top: 0.75em;} 
/*category list end*/ 
/*retail list start*/
.vocab-list-retail {width: 100%; float: left; margin-top: 10px;}
.vocab-list-retail .vocab-list-term {display: table; width: 229px; height: 226px; vertical-align: middle; text-align:center; border-radius: 10px; box-shadow: 0 0 13px #ccc inset; -webkit-box-shadow: 0 0 13px #ccc inset; -ms-box-shadow: 0 0 13px #ccc inset; -O-box-shadow: 0 0 13px #ccc inset; float: left; padding: 10px; margin: 5px;}
.vocab-list-retail .vocab-list-term a {display: table-cell; width: 100%; vertical-align: middle;}
.vocab-list-retail .vocab-list-term a img{display: block; margin: 0 auto;}
/*retail list end*/
/*brands list start*/
.vocab-list-brand {width: 100%; float: left; margin-top: 10px;}
.vocab-list-brand .vocab-list-term {float: left; padding: 10px; width: 15%; word-break: break-word;}
.vocab-list-brand .vocab-list-term a {float: left; width: 100%;}
.vocab-list-brand .vocab-list-term a:link, .vocab-list-brand .vocab-list-term a:visited {color: #f7971c; text-decoration: none;}
/*brands list end*/
/*home page slider start
#block-views-home_page_welcome-block {width: 100%!important;}
.view-home-page-welcome .views-field img {width: 98%!important; max-width: 100%!important; max-height: 100%!important;}
div#block-views-home_page_welcome-block, .front div.region-content #block-system-main {height: 400px!important;}
home page slider end*/

@media (min-width: 240px) and (max-width: 479px) {
  #block-coupons-coupons_finder_taxonomy .form-item, .form-actions { margin: 0px!important; width: 55%!important;}
  #block-coupons-coupons_finder_taxonomy .content .submit input  {padding: 8px 5px;}
  #block-coupons-coupons_finder_taxonomy .content .submit {margin: 0 !important; width: 45%!important;}
  .top_menu {width: 100%!important;}
  .top_menu #nice-menu-3 {width: 100%!important;}
  .top_menu #nice-menu-3 a{font-size: 15px;}
  #block-nice_menus-1 .contextual-links-trigger { margin-top: 45px; }
  #edit-field-retailer-tid-wrapper label {width: 30%;}
  #edit-field-retailer-tid-wrapper .views-widget {width: 70%;}
  #views-exposed-form-brand-coupon-page-page .views-submit-button {width: 15%; padding-right: 0px;}
  label {width: 30%!important;}
  .views-widget {width: 70%!important;}
  #nice-menu-1 .menu-path-nolink ul li span{font-size: 12px;}
  #block-coupons-coupons_finder_taxonomy .content {float: left; width: 100%;}
  .main_menu {margin-top: 5px!important;}
  #header #header-region {width: 100%!important;}
  .vocab-list-parent .vocab-list-term {width: 50%; float: left;} 
  .vocab-list-retail .vocab-list-term {width: 100%;}
  .vocab-list-brand .vocab-list-term {width: 33%;}
  #block-views-home_page_slider-block .ribbon-wrapper-green{right: -27px;}
  #block-views-home_page_slider-block .views-field img {width: 100%;}
}
@media (min-width: 480px) and (max-width: 520px) {
  #block-nice_menus-1 .contextual-links-trigger { margin-top: 32px; }  
  #edit-field-retailer-tid-wrapper .views-widget {width: 80%;}
  #views-exposed-form-brand-coupon-page-page .views-submit-button {padding-right: 0px;}
  #views-exposed-form-brand-coupon-page-page #edit-field-retailer-tid-wrapper { width: 80% !important;}
  #edit-field-retailer-tid-wrapper label { width: 20% !important;}
  #block-coupons-coupons_finder_taxonomy .form-item, .form-actions { margin: 0px!important;}
  #block-coupons-coupons_finder_taxonomy .content .submit {margin: 0 !important;}
  .top_menu {width: 100%!important;}
  #nice-menu-1 .menu-path-nolink ul li span{font-size: 12px;}
  .top_menu #nice-menu-3 {width: 71%!important;}
  #block-coupons-coupons_finder_taxonomy .content {float: left; width: 88%;}
  .main_menu {margin-top:10px!important;}
  #header #header-region{width: 100%!important; float: right;}
  .vocab-list-parent .vocab-list-term {width: 50%; float: left;}
  .vocab-list-retail .vocab-list-term {width: 47%;}
  .vocab-list-brand .vocab-list-term {width: 33%;}
}

@media (min-width: 521px) and (max-width: 599px){
  .vocab-list-parent .vocab-list-term {width: 33%; float: left;} 
  .vocab-list-retail .vocab-list-term {width: 47%;}
  .vocab-list-brand .vocab-list-term {width: 25%;}
  .top_menu #nice-menu-3 {width: 43%!important;}
}
@media (min-width: 600px) and (max-width: 850px){
  .vocab-list-parent .vocab-list-term {width: 25%; float: left;}
  .vocab-list-retail .vocab-list-term {width: 47%;}
  .vocab-list-brand .vocab-list-term {width: 25%;}
  .top_menu #nice-menu-3 {width: 41%!important;}
  .top_menu #nice-menu-3 a{font-size: 15px;}

}

.view-content .item-list ul li {margin: 0 0 0.25em 1.5em;padding: 0;list-style:none;}
#header #header-region{width: 67%; float: right;}
#views-exposed-form-brand-coupon-page-page .views-exposed-form {width: 100%; overflow: hidden;}
#views-exposed-form-brand-coupon-page-page .views-exposed-widgets {width: 100%; Overflow: hidden; padding-bottom: 10px;background-color:#eee;}
#views-exposed-form-brand-coupon-page-page #edit-field-retailer-tid-wrapper {width: 70%; float: left;}
#edit-field-retailer-tid-wrapper label {width: 15%; float:left; padding-left: 10px;}
#edit-field-retailer-tid-wrapper .views-widget {width: 80%; float: left;}
#edit-field-retailer-tid-wrapper #edit-field-retailer-tid {width: 100%;}
#views-exposed-form-brand-coupon-page-page .views-submit-button {width: 10%; float: left;}
#views-exposed-form-brand-coupon-page-page #edit-submit-brand-coupon-page {margin-top: 0px;}

.top_menu {width: 100%; float: right;}
.top_menu #nice-menu-3 {width: 37%; float: right; border: 0 none; padding-top: 10px;}
.top_menu #nice-menu-3 li {background-color: transparent!important; border: 0 none!important;width:auto !important;}
.top_menu #nice-menu-3 li a {color: #fff;font-size: 12px;font-weight: normal; line-height: 2px;padding: 0 14px; text-decoration: none;}
.top_menu #nice-menu-3 li a:hover{color: #f7971c!important;}

/* Added by Incaendo <http://incaendo.com> -- End */

.m-cpn { 
width: 82%;
float: left;
margin-bottom: 48px;
padding: 0;
}
.ofr-descp {
font-weight: normal;
margin-top: 8px;
}
.m-logo {
width: 92px;
float: left;
margin: 0;
padding: 0;
} 
.vocab-list-parent .vocab-list-term a {float: right;!important;
margin-left: 29px;!important;
text-align: center;}

.vocab-list-parent .vocab-list-term {
width: 20%;
float: left;
} 

.imges img {
width: 20px;
height: 20px;
}