

/* Font styles. */
body {
  margin: 0;
  /* Setting up font size, leading and font family
   * http://www.markboulton.co.uk/journal/comments/five-simple-steps-to-better-typography */
  font: 13px/1.5em "Arial",Helvetica Neue, helvetica, sans-serif;
  letter-spacing: 0.03em;
}

/* Links */
a:link, a:visited {
  color: #ff9900;
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: underline;
}

/* Titles. */
#site-name {
  color: #FF9900;
  font-family: Heartbreaker;
  font-size: 28px;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  margin:0px;
  padding:0px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.3em;
}

h1 {
  font-size: 2.2em;
  font-weight: 300;
  padding: 0 0 0.5em;
  margin: 0;
}

h2 {
  font-size: 1.8em;
  font-weight: 300;
  margin-bottom: 0.75em;
}

h3 {
  font-size: 1.4em;
  margin-bottom: 1em;
}

h4 {
  font-size: 1.2em;
  margin-bottom: 0.8em;
}

h5 {
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: 0;
}

h6 {
  font-size: 1em;
  font-weight: bold;
}

/* Paragraph styles. */
p {
  margin: 0 0 1em 0;
}

/* List styles. */
ul, ol {
  margin-left: 0;
  padding-left: 0;
}

/* Table styles. */
table {
  width: 99%;
}

tr.even td,
tr.odd td {
  padding: 10px 5px;
}

tr.odd {
  background-color: white;
}

/* Code. */
pre, code, tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}

pre {
  background-color: #efefef;
  display: block;
  padding: 5px;
  margin: 5px 0;
  border: 1px solid #aaaaaa;
}

/* List styles. */
ul {
  list-style-type: disc;
}
ul ul {
  list-style-type: circle;
}
ul ul ul {
  list-style-type: square;
}
ul ul ul ul {
  list-style-type: circle;
}

ol {
  list-style-type: decimal;
}
ol ol {
  list-style-type: lower-alpha;
}
ol ol ol {
  list-style-type: decimal;
}

/* Abbreviation. */
abbr {
  border-bottom: 1px dotted #666666;
  cursor: help;
  white-space: nowrap;
}

/* UI improvments. */
#edit-title {
  font-size: 24px;
  width: 99%;
}

#system-themes-form img {
  width: 100px;
}

.form-item .description {
  color: #999999;
  font-family: Arial;
  font-size: 13px;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;F
}

#edit-delete {
  color: #cc0000;
}

/* Console, style from slate theme. */
div.messages {
  padding: 9px;
  margin: 1em 0;
  color: #003366;
  background: #bbddff;
  border: 1px solid #aaccee;
}
div.messages a{
  color:#fff;
  text-decoration:underline;
}

div.warning {
  color: #884400;
  background: #ffee66;
  border-color: #eedd55;
}

div.error {
  color: white;
  background: #ee6633;
  border-color: #dd5522;
}

div.status {
  color: #336600;
  background: #ccff88;
  border-color: #bbee77;
}

/* Region Colors. delete when starting a new theme. */
#header, #footer,
#sidebar-first,
#sidebar-second,
#navigation {

}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body:before {
  content: '';
  display: inline-block;
  height: 100%;
  left: 0;
  margin: 0 auto;
  max-width: 100%;
  opacity: 0.4;
  position: fixed;
  right: 0;
  width: 100%;
  z-index: -1;
}
@media screen and (max-width: 480px) {
  body:before {
  }
}
@media screen and (max-width: 768px) {
  body:before {
  }
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body:before {
  content: '';
  display: inline-block;
  height: 100%;
  left: 0;
  margin: 0 auto;
  max-width: 100%;
  opacity: 0.4;
  position: fixed;
  right: 0;
  width: 100%;
  z-index: -1;
}
@media screen and (max-width: 480px) {
  body:before {
  }
}
@media screen and (max-width: 768px) {
  body:before {
  }
}


#header{background:#000000;width:100%;float:left;position:relative;}
.front #header  {height:75px}
#header #logo {padding-top:10px;}
#header #logo img{height:55px;}
.headcolor{color:#ff9900}
#navigation ,
#primary,#secondary,#main,#footer
{width:920px;margin:0px auto;display:block}
#main{min-height:450px;}
.front h1.title{display:none;}

.front #main {padding:10px;margin-top:50px;}
.front #content{padding: 50px;
                background: #f2f2f2;
                border: 1px solid #d7d7d7;
                margin: 60px auto;
                text-align: center;
}
.front #coupons-finder-form .form-item-url label{
  color: #666666;font-size: 13px;font-style: normal;font-weight: normal;text-decoration: none;

}
.front #coupons-finder-form .form-item-url{
  float:left;width:88%;
}
.front #coupons-finder-form .name-and-slogan{ color: #FF9900;
                                              font-family: Heartbreaker;
                                              font-size: 48px;
                                              font-style: normal;
                                              font-weight: bold;
                                              text-decoration: none;margin:10px auto;text-align:center; }

.site_name_0{
  font-family: Heartbreaker;
  font-size: 48px;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  display:block;
  height:60px
}

.site_name_1{
  color: #25ADE3;
  font-family: Heartbreaker;
  font-size: 48px;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  display:block;
}
.front #coupons-finder-form #edit-url{color: #666666;
                                      font-family: 'Arial';
                                      font-size: 13px;
                                      font-style: normal;
                                      font-weight: normal;
                                      height: 40px;
                                      left: 300px;
                                      text-align: left;
                                      text-decoration: none;
                                      top: 323px;
                                      width: 590px;
                                      padding: 10px;
                                      margin: 10px 0px;
}
.whatisthis{
  float: right;
  position: relative;
  top: 50px;
  left: 10px;

}
#site-slogan{color: #FF9900;
             font-family: Monotype Corsiva;
             font-size: 20px;
             font-style: normal;
             font-weight: bold;
             text-decoration: none;
             position: absolute;
             top: 36px;
             left: 364px;
}

.front #coupons-finder-form .submit{
  width: 48%;
  display: inline-block;
  float: left;
}
.front #coupons-finder-form .view_video{
  display: inline-block;
  float: right;
  width: 50%;
}
.front #coupons-finder-form  #edit-submit,
#modal-content  .submit input[type="submit"],
#header #coupons-finder-form [type="submit"],
.front #coupons-finder-form  #edit-view_video
{
  height: 40px;
  margin: 0px auto;
  display: inline-block;
  background: #ff9900;
  color: white;
  border:none;
  font-weight: bold;
  font-size: 14px;
  padding: 10px 20px;
  margin: 0px 5px;
  //  border-radius: 15px;
  text-decoration:none;
}
.front #coupons-finder-form  #edit-submit {float:right;}
.front #coupons-finder-form  #edit-view_video {float:left;}
#site-name a:hover, #site-name a:active {text-decoration:none;}
#header #name-and-slogan{ color: #FFFFFF;
                          font-family: Arial;
                          font-size: 13px;
                          font-style: normal;
                          font-weight: bold;
                          text-decoration: none;
                          padding: 1px;
                          display:none;
}

#header .site_name_0{
  font-family: Heartbreaker;
  font-size: 30px;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  display:block;
  height:40px
}

#header .site_name_1{
  color: #25ADE3;
  font-family: Heartbreaker;
  font-size: 30px;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  display:block;
  margin-bottom:10px;
}

#header #site-slogan{color: #FF9900;
                     font-family: Monotype Corsiva;
                     font-size: 17px;
                     font-style: normal;
                     font-weight: bold;
                     text-decoration: none;
                     position: absolute;
                     top: 27px;
                     left: 234px;
}
.admin-menu #header #site-slogan{
  top: 50px;
}

/* After sushant*/
#footer {
  border-top:1px solid #999999;
  width:100%;
  margin-top:20px;
}

.front #coupons-finder-form{
  width: 670px;
  margin: 0px auto;
  text-align: left;
}

.front #footer{
  margin-top:50px;
}

#footer .region-footer{margin:0px auto;width:920px;}
#footer .footer_logos .title{ color: #666666;
                              font-family: Arial;
                              font-size: 13px;
                              font-style: normal;
                              font-weight: bold;
                              text-decoration: none;
                              text-align: left;
                              margin: 5px;
                              padding: 0px;
                              line-height: 13px;
}
#footer .footer_logos{padding:10px 20px 10px;text-align:left;}
#footer .footer_logos li{list-style:none;display:inline-block;}
#footer .footer_logos li img{height:25px;margin:2px 3px;}

div.ctools-modal-content{
  border-radius:20px;
  border:1px solid #fff;
  background:#333;

}

div.ctools-modal-content .modal-header{
  padding: 10px;
  margin: 10px;
  background-color: transparent;
}

div.ctools-modal-content .modal-title {
  font-size: 120%;
  font-weight: bold;
  color: white;
  overflow: hidden;
  white-space: nowrap;
  display: block;
  text-align: center;
  color:#f7971c;
}
div.ctools-modal-content a.close{
  margin-top: -4px;
}
#modal-content form{text-align:center;}
#modal-content .form-item-url label{
  color: #F7971C;
  width:100%;
  text-align:center;
  font-family: Arial;
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
}
#modal-content .form-item-url input{
  height: 25px;
  margin-top: 10px;
  width: 90%;
}
#modal-content .form-item-url input[type="submit"]{
  margin-bottom:20px;
}

div.ctools-modal-content .modal-content{
  margin:0px auto;
  padding:0px;
}
#modal-content  .submit{
  text-align:center;
}

#coupon_search_listing > li{list-style:none;  background-color: #F2F2F2;
                            border: 1px solid #D7D7D7;margin-bottom:15px;
                            display: table;
                            width: 100%;margin-left:0px!important}
#coupon_search_listing > li .row_1{margin-bottom:10px;}
.search_listing_left{
  min-height: 86px;
  width: 80%;
  padding: 15px;
  float:left;
  margin:0 0 10px 0;
}
.search_listing_right{
  float: left;
  width: 17%;
  margin-top:30px;
}
.search_listing_left label{
  color: #F7971C;
  float: left;
  font-family: Arial;
  font-size: 13px;
  font-style: normal;
  font-weight: bold;
  padding-right: 10px;
  text-decoration: none;
  width:100px;
}
.search_listing_row{
  color: #666666;
  font-family: Arial;
  font-size: 13px;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  display:table;
}
.search_listing_row .saving{float:left;}
.row_3{margin-top:20px;}

.unlock_coupon{
  border:0px;
  background: #ff9900;
  padding: 15px;
  border-radius: 15px;
  right: 10px;
  min-width: 130px;
  display:block;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
  position:relative;
  z-index:1000;
}
a.copied_coupon {
  color: white;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  background: #25ade3;
  display:inline-block;
}
.copy_coupon {
  color: #FFFFFF;
  font-family: Arial;
  font-size: 13px;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
}
.best_coupon{
  background: #ff9900;
  color: #FFFFFF;
  border-radius: 10px;
  display: inline-block;
  margin-left: 6px;
  padding: 5px;
  margin-top:-5px;
}

.best_coupon_image{
  text-decoration: none;
  display:inline-block;
}
.red{
  color:red;
}
.page-coupon-result .block h3{font-size: 13px;
                              color: #666;
                              font-weight:normal;
                              padding: 10px 20px;}
.page-coupon-result .block h3 span{font-weight:bold;color:#F7971C;font-size:15px;}

#header #header-region{background:#f2f2f2;text-align:center}
#header #header-region .region-header{width:920px;margin:0px auto;}
#header #coupons-finder-form .form-item-url,
#header #coupons-finder-form #edit-url,
#header #coupons-finder-form .submit,
#header #coupons-finder-form label,
#header #coupons-finder-form .form-item-url
{display:inline-block;}
#header #coupons-finder-form label{color:#ff9900}
#header #coupons-finder-form #edit-url{width:600px;height:40px; padding: 10px;}


/*Redirecting page*/
.page-coupon-redirect{
  background-color: #4A4A4A;
  width: 100%;
  height: auto;
  bottom: 0px;
  top: 0px;
  left: 0;
  position: absolute;
}
.coupon_window{
  background: none repeat scroll 0 0 #FFFFFF;
  height: 220px;
  left: 35%;
  margin: auto;
  padding: 15px;
  position: fixed;
  text-align: center;
  top: 32%;
  width: 400px;

}


.coupon_window h1, .coupon_window h2 {
  color: #FF9900;
  font-family: Arial;
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
}
.coupon_window h2{
  font-weight:normal;
  margin-top:20px;
  font-size: 18px;
}
.bridgecode{
  background: none repeat scroll 0 0 #FF9900;
  border-radius: 15px 15px 15px 15px;
  color: #FFFFFF;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: 46px;
  margin: 0 auto;
  padding: 13px;
  width: 140px;
  text-decoration:none;
}
.bridgecode:hover{text-decoration:none;}

#block-menu-menu-footer-links{
  float: right;
  margin-top: -24px;
}
#block-menu-menu-footer-links .block-title{display: none;}
#block-menu-menu-footer-links ul li {
  display: inline-block;

}
#block-menu-menu-footer-links ul a {
  color:#999999;font-weight:bold;
  border-right: 1px solid #ccc;
  padding:0px 10px 0px 0px;
}
#block-menu-menu-footer-links ul li.last a{
  border-right: none;
  padding:0px 0px 0px 0px;

}

.shareaholic-canvas {
  clear: both;
  left: 0;
  position: fixed;
  top: 20%;
}

/* By Ashish to make images overlap */


.page-coupon-finder #content {position:relative; border:none;}
img.dollor { left: 425px; position: absolute; top: 330px; z-index: 0;}
.frog_title {color: #F7971C; float: left; font-size: 21px; font-weight: bold; text-align: center; width: 100%; margin-top: -50px;}

.page-coupon-result {position:relative;}
.page-coupon-result .frog_title {margin-top:0;}
.page-coupon-result #content {position:relative;}
.page-coupon-result img.dollor {top:300px; left: 180px;}


/***********Product information Theme**************/
.product_info{width:100%;float:left;}
.product_info .views-label{color: #F7971C;font-family: Arial;font-size: 13px;font-style: normal;font-weight: bold; padding-right: 10px;text-decoration: none;}
.product_info .views-field-field-retailer-product-name { color: #F7971C;font-family: Arial;font-size: 18px;font-style: normal;font-weight: bold;padding-right: 0px;text-decoration: none;}
.product_info .content ol li{color: #666666;
    font-weight: bold;
    list-style-type: none;}
.product-detail{width:99.8%;float:left;border-radius:4px;border:1px solid #e1e1e1;margin-left:0px;padding:12px;margin-bottom:15px}
.product-detail h2{color: #F7971C;font-family: Arial;font-size: 18px;font-style: normal;font-weight: bold;padding-right: 0px;text-decoration: none;}
.product-detail h2 .field-content{float:left}
.product-detail .product-left{ float: left;margin-top: 10px;text-align: center;width: 200px;}
.product-detail .product-left .field-content{ float: left; height: 200px;text-align: center;width: 200px;}
.product-detail .product-right-inner{width:420px;float:left;margin-left:11px}
.product-detail  .product-right{width:417px;float:left;border:1px solid #e6e6e6;background: #F2F2F2;padding:10px 5px 5px 10px;border-radius:6px;position:relative;}
.node-type--product-and-coupon .item-list{width:100%;float:left;position:relative}
.product-inner{width:100%;float:left}
.product-right ul{float: left;
    padding: 0;
    /* width: 270px; */}
.product-right ul li{float:left;width:100%;margin:0 0 5px;list-style:none}
.product-right ul li .pro_coupons_found,.product-right ul li .pro_no_coupons_found{float:left;width:229px;}
.product-right ul li .pro_coupons_found img,.product-right ul li .pro_no_coupons_found img{float:left;margin-right:3px;width:20px;height:20px}
.product-right ul li .pro_coupons_text{color:#438503;line-height:23px;font-weight:bold;}
.product-right ul li .pro_no_coupons_found .pro_no_coupons_text{color:#AC0706;line-height:23px;font-weight:bold;}
.product-right ul li label,.product-bottom .product-left ul li label{float:left;color: #F7971C;font-family: Arial;font-size: 13px;font-style: normal;font-weight: bold;width:139px;padding-right:7px}
.product-bottom .product-left ul li label{ text-align: left;
    width: 65px;}

.product-right ul li .field-content,.product-bottom .product-left ul li .field-content{float:left;color: #666666;font-family: Arial;font-size: 13px;font-style: normal;font-weight: bold;text-decoration: none;width:229px}
.product-bottom .product-left ul li .field-content{float: left;
    margin-left: 9px;
    text-align: left;
    width: 148px;height:auto;}
.product-bottom .product-left ul li .field-content a{color: #666666;font-family: Arial;font-size: 13px;font-style: normal;font-weight: bold;}
.product-right h4{font:bold 14px/15px arial; color: #F7971C!important;text-align:center}
.product-right .coupon_code,.product-right .coupon_code1{float: right;
    padding: 5px;
    position: absolute;
    right: 20px;
    text-align: center;
    top: 44px;
    width: 119px;}
.product-right .coupon_code1 label{color:#fff;display:none}
.product-right .coupon_code1 #coupon_search_listing > li{background:none!important;border:0px!important;padding:0px;}
.product-right .coupon_code1 ul{width:119px!important}
.product-right .coupon_code1 .item-list ul li{width:50px!important;background:none;border:0px;padding:0px}
.product-right .coupon_code .field-content{color:#fff}
.product-bottom{width:100%;float:left;margin-top:10px}
.product-bottom .product-left{float: left;
    margin-top: 0;
    width: 227px;height:auto;}
.product-bottom .product-left ul{margin:0p;padding:0px;float:left;}
.product-bottom .product-left ul li{float:left;width:100%;margin:0px 0 10px 0;list-style:none}
.product-bottom .product-right-bottom{float: left;
    margin-left: 10px;
    width: 413px;}
.product-bottom .product-right-bottom .field-content{color: #666666;display: table;font-family: Arial;font-size: 13px;font-style: normal;
font-weight: normal;text-decoration: none;}
.custom_link{width:99%;float:left;text-align:right;font:11px/15px arial;color: #9da0a4; padding:9px 0 0}
.custom_link a{font:11px/15px arial;color: #9da0a4; }
.custom_link a.active{color: #F7971C;}

/*****Page Search Theme******/
.page-taxonomy-term #sidebar-first .block-facetapi,.page-search-site #sidebar-first .block-facetapi{background:#f2f2f2;border:1px solid #d7d7d7;padding:11px;margin-top:15px;border-radius:8px}
.page-taxonomy-term #sidebar-first .block-facetapi .block-inner h2,.page-search-site #sidebar-first .block-facetapi .block-inner h2{font:bold 14px/15px arial; color: #F7971C;text-align:center}
.page-taxonomy-term #sidebar-first .block-facetapi .block-inner .content ul li a,.page-search-site #sidebar-first .block-facetapi .block-inner .content ul li a {color:#666666;font:12px/14px arial;}
.page-taxonomy-term #sidebar-first .block-facetapi .block-inner .content ul li,.page-search-site #sidebar-first .block-facetapi .block-inner .content ul li {list-style-image:none;list-style-type:none;background:url(../images/arrow.png) no-repeat 0 3px;padding-left:22px;margin:0px;padding-bottom:3px}
.page-taxonomy-term #block-system-main .block-inner .node--product-and-coupon,.page-search-site #block-system-main .block-inner .node--product-and-coupon{border: 1px solid #D7D7D7;border-radius: 8px 8px 8px 8px;clear: none;float: left;height: 498px;margin-bottom: 13px;margin-right: 7px;padding: 18px;vertical-align: top;width: 232px;position:relative}
.page-taxonomy-term #block-system-main .block-inner .node--product-and-coupon h2,.page-search-site #block-system-main .block-inner .node--product-and-coupon h2{font:bold 12px/20px arial;}
.page-taxonomy-term #block-system-main .block-inner .node--product-and-coupon .submitted,.page-search-site #block-system-main .block-inner .node--product-and-coupon .submitted{display:none;}
.page-taxonomy-term #block-system-main .block-inner .node--product-and-coupon .field-label,.page-search-site #block-system-main .block-inner .node--product-and-coupon .field-label{font:bold 12px/20px arial;color:#f7971c;float:left;margin-right:2px;width:81px}
.page-taxonomy-term #block-system-main .block-inner .node--product-and-coupon .field-items,.page-search-site #block-system-main .block-inner .node--product-and-coupon .field-items{font:bold 12px/20px arial;color:#666666}
.page-taxonomy-term #block-system-main .block-inner .node--product-and-coupon .field,.page-search-site #block-system-main .block-inner .node--product-and-coupon .field{padding-bottom:5px;width:100%;float:left}
.page-taxonomy-term #block-system-main .block-inner .node--product-and-coupon .field-name-field-best-coupon-couponcode,.page-search-site #block-system-main .block-inner .node--product-and-coupon .field-name-field-best-coupon-couponcode{background:#f7971c;border:1px solid #cc6600;padding:0 27px;font:bold 14px/15px arial;color:#fff;border-radius:20px;width:190px;float:left;display:none}
.page-taxonomy-term #block-system-main .block-inner .node--product-and-coupon .field-name-field-best-coupon-couponcode .field-label,
.page-taxonomy-term #block-system-main .block-inner .node--product-and-coupon .field-name-field-best-coupon-couponcode .field-items,.page-search-site #block-system-main .block-inner .node--product-and-coupon .field-name-field-best-coupon-couponcode .field-label,.page-search-site #block-system-main .block-inner .node--product-and-coupon .field-name-field-best-coupon-couponcode .field-items{color:#fff}
.page-taxonomy-term .region-content #block-apachesolr_search-sort .content ul li,.page-search-site .region-content #block-apachesolr_search-sort .content ul li{float:left;list-style-type:none;margin-left:10px;}
.page-taxonomy-term .region-content #block-apachesolr_search-sort .content ul li a,.page-search-site .region-content #block-apachesolr_search-sort .content ul li a{color:#666666;font-size:11px}
.page-taxonomy-term .region-content #block-apachesolr_search-sort .content ul li a.active,.page-search-site .region-content #block-apachesolr_search-sort .content ul li a.active{font-weight:bold;}
/* .page-taxonomy-term .region-content #block-apachesolr_search-sort .content ul li a:hover,.page-search-site .region-content #block-apachesolr_search-sort .content ul li a:hover{font-weight:bold;text-decoration:none!important} */

.page-taxonomy-term .region-content #block-apachesolr_search-sort,.page-search-site .region-content #block-apachesolr_search-sort {padding-bottom:0px}
.page-taxonomy-term .region-content #block-apachesolr_search-sort h2,.page-search-site .region-content #block-apachesolr_search-sort h2{ color: #666666;float: left;font-size: 11px;font-weight: bold;line-height: 24px;margin: 0;padding: 0;}
.page-taxonomy-term .region-content #block-apachesolr_search-sort .item-list ul ,.page-search-site .region-content #block-apachesolr_search-sort .item-list ul{margin:0px}
h1.title{font:bold 30px/32px arial;color:#f7971c;margin-bottom:0px;}
.page-taxonomy-term  h1.title,.page-search-site h1.title{float: left; font-size: 20px;font-weight: bold;line-height: 18px;margin: 8px 0 0 7px;padding: 0;}
.page-taxonomy-term #block-system-main .block-inner .node--product-and-coupon header, .page-search-site #block-system-main .block-inner .node--product-and-coupon header{display:none;}
.page-taxonomy-term #block-system-main .block-inner .node--product-and-coupon .product_name,.page-search-site #block-system-main .block-inner .node--product-and-coupon .product_name a{font-weight:bold;}
.page-taxonomy-term #block-system-main .block-inner .node--product-and-coupon .product_name,.page-search-site #block-system-main .block-inner .node--product-and-coupon .product_name {padding-bottom:5px;height:42px;float:left;padding-top:5px}

.page-taxonomy-term #block-system-main .block-inner .node--product-and-coupon .no_coupons_found img,.page-search-site #block-system-main .block-inner .node--product-and-coupon .no_coupons_found img,.page-taxonomy-term #block-system-main .block-inner .node--product-and-coupon .coupons_found img,.page-search-site #block-system-main .block-inner .node--product-and-coupon .coupons_found img{float:left;margin-right:4px}
.page-taxonomy-term #block-system-main .block-inner .node--product-and-coupon .no_coupons_found .no_coupons_text,.page-search-site #block-system-main .block-inner .node--product-and-coupon .no_coupons_found .no_coupons_text,.page-taxonomy-term #block-system-main .block-inner .node--product-and-coupon .coupons_found .coupons_text,.page-search-site #block-system-main .block-inner .node--product-and-coupon .coupons_found .coupons_text{line-height:29px;font-weight:bold}
.page-taxonomy-term #block-system-main .block-inner .node--product-and-coupon .no_coupons_found .no_coupons_text,.page-search-site #block-system-main .block-inner .node--product-and-coupon .no_coupons_found .no_coupons_text{color:#ac0706}
.page-taxonomy-term #block-system-main .block-inner .node--product-and-coupon .coupons_found .coupons_text,.page-search-site #block-system-main .block-inner .node--product-and-coupon .coupons_found .coupons_text{color:#438503}
.page-taxonomy-term #block-system-main .block-inner .node--product-and-coupon .no_coupons_found ,.page-search-site #block-system-main .block-inner .node--product-and-coupon .no_coupons_found ,.page-taxonomy-term #block-system-main .block-inner .node--product-and-coupon .field ,.page-search-site #block-system-main .block-inner .node--product-and-coupon .field,.page-taxonomy-term #block-system-main .block-inner .node--product-and-coupon .coupons_found,.page-search-site #block-system-main .block-inner .node--product-and-coupon .coupons_found{float:left;width:100%;padding-bottom:10px}
.page-taxonomy-term #block-system-main .block-inner .node--product-and-coupon  a,.page-search-site #block-system-main .block-inner .node--product-and-coupon a{font-size:11px;line-height:12px;text-decoration:underline!important}
.page-taxonomy-term #block-system-main .block-inner .node--product-and-coupon  .product_name a,.page-search-site #block-system-main .block-inner .node--product-and-coupon .product_name a{font-size:13px;text-decoration:none!important}
#block-apachesolr_search-sort{border-bottom: 1px solid #CCCCCC;margin-bottom: 20px;padding: 0;margin-top:10px}
#block-apachesolr_search-sort .block-inner{float: right;margin-top: 5px !important;text-align: right; width: 53%;}
.page-search-site #search-form label{font:bold 14px/20px arial;color:#f7971c;}
.page-search-site #search-form  #edit-submit{background:#F7971C;border:1px solid #cc6600;color:#fff;padding:0 2px;font:13px/17px arial}
.page-taxonomy-term #block-system-main .block-inner .node--product-and-coupon .field-name-field-product-images .field-label,.page-search-site #block-system-main .block-inner .node--product-and-coupon .field-name-field-product-images .field-label{display:none}
.page-taxonomy-term #block-system-main .block-inner .node--product-and-coupon .field-name-field-product-images .field-items,.page-search-site #block-system-main .block-inner .node--product-and-coupon .field-name-field-product-images .field-items{text-align:center}
.page-taxonomy-term #block-system-main .block-inner .item-list, .page-search-site #block-system-main .block-inner .item-list{float:left}
.page-taxonomy-term #block-system-main .block-inner .item-list ul li, .page-search-site #block-system-main .block-inner .item-list ul li{background:none;border:0px}
/****Retailer product****/
.retalier_product{width:919px;float:left;background:#f2f2f2;border:1px solid #d7d7d7;padding:10px;margin-left:19px;border-radius:8px}
.retalier_product .views-row{float: left;
    margin-right: 18px;
    padding: 7px;
    width: 280px;background:#ffffff;border:1px solid #d7d7d7;border-radius:10px}
    .retalier_product .views-row    .views-field{width:100%;float:left}
.retalier_product .views-row    .views-field .views-label{font:bold 12px/20px arial;color:#f7971c;float:left}
.retalier_product .views-row    .views-field .field-content{font:bold 12px/20px arial;color:#666666;float:left}
.most_popluar{float:left}

.page-taxonomy-term #block-system-main .block-inner .item-list .unlock_coupon,
 .page-search-site #block-system-main .block-inner .item-list .unlock_coupon{padding:10px;border:0px;min-width:173px;right:-9px}

.page-taxonomy-term #block-system-main .block-inner .page_url,.page-search-site #block-system-main .block-inner .page_url{background: none repeat scroll 0 0 #FF9900;
    border: 1px solid #CC6600;
    border-radius: 15px 15px 15px 15px;
    display: block;
    float: left;
    font-weight: bold;
    margin-left: 21px;
    min-width: 176px;
    padding: 3px;
    position: relative;
    right: 10px;text-align: center;}
.page-taxonomy-term #block-system-main .block-inner .page_url a,.page-search-site #block-system-main .block-inner .page_url a{color:#fff;font-size:13px;font-weight:bold}

.main_menu{
  float:left;
}
/*******Menu*********/
#header #logo{float:left}
.wrap{margin:0 auto;width:940px;}
.main_menu{float:left;width:656px;margin-left:15px}
.nice_menu1{width:100%;float:left;margin-top:30px}
.nice_menu1 h2{display:none}
.nice_menu1 .content ul{float:left;margin:0px;padding:0px}
.nice_menu1 .content ul li{float:left;background:none!important;border:0px;padding:0px}
.nice_menu1 .content ul li a,.nice_menu1 .content ul li span{color:#fff;font-size:14px;line-height:20px;font-weight:bold;padding:0 5px;text-decoration:none}
.nice_menu1 .content ul li a:hover,.nice_menu1 .content ul li span:hover{color:#f7971c}
.nice_menu1 .content ul li ul{background:#000;border:0px!important;padding:10px;}
.nice_menu1 .content ul li ul li a{line-height:30px;font-size:12px;}
.nice_menu2{float:left;width:200px;}

/******Find coupon*********/
.find_coupon{background:none repeat scroll 0 0 #F2F2F2;padding:10px 20px 10px 20px;border:1px solid #D7D7D7;border-radius:8px;position:relative;}
.find_coupon .submit{display: inline-block;float: left;width: 48%;}
.find_coupon .submit input[type="submit"],.find_coupon .view_video a{  background: none repeat scroll 0 0 #FF9900;
    border: medium none;
    color: white;
    display: inline-block;
    float: right;
    font-size: 13px;
    font-weight: bold;
    height: 23px;
    line-height: 24px;
    margin: 0 5px;
    padding: 0 9px;
    text-decoration: none;}
.find_coupon .view_video{display: inline-block;float: right;width: 38%;}
.find_coupon .view_video a#edit-view_video{float:left;}
.find_coupon  label{ color: #666666;font-size: 13px;font-style: normal;font-weight: normal;text-decoration: none;margin-bottom:5px}
.find_coupon .form-type-textfield{width:588px;margin-top:0px}
.find_coupon .form-type-textfield input{width:585px;padding:3px 0 3px 5px;}
/* .find_coupon .whatisthis a{  float: right;
    position: absolute;
    right: 29px;
    top: 100px;} */
.find_coupon .whatisthis{top:-63px;left:0px}
.find_coupon .form-type-textfield .description{margin-top:5px}
#content-header{margin-top:15px}
#content-header h1.title{margin-bottom:0px;}
/*****************/
.node-type--product-and-coupon div.submitted,.node-type--product-and-coupon h1.title{display:none;}
/*****Retailer Product Right***********/
.retailer_product_right{ background: none repeat scroll 0 0 #F2F2F2;
    float: left;
    padding: 12px;
    width: 100%;border:1px solid #E6E6E6;border-radius:8px}
.retailer_product_right h2{font-size:15px;font-weight:bold;text-align:center;}
#sidebar-second{margin-top:43px;}
.not-logged-in #sidebar-second{margin-top:16px;}
.retailer_product_right .views-row{background:#fff;padding:10px;border:1px solid #E6E6E6;border-radius:8px;margin-bottom:10px;float:left}
.retailer_product_right .views-row .views-field-sm-field-retailer-product-name,.retailer_product_right .views-row .views-field-sm-field-retailer-product-name span,.retailer_product_right .views-row .views-field-sm-field-retailer-product-name a{color:#F7971C;font-weight:bold;}
.retailer_product_right .views-row .views-field-sm-vid-Retailer{color:#666666;font-weight:bold;}
.retailer_product_right .views-row  .views-label{ color: #666666;float: left; font-family: Arial;font-size: 11px;font-style: normal;font-weight: bold;padding-right: 7px;width:100px;}
.retailer_product_right .views-row .field-content{color: #666666;font-weight: bold;font-size: 11px;}
.retailer_product_right .views-field-php{width:100%;float:left;text-align:center;}
.retailer_product_right .views-field-php .unlock_coupon{padding:5px !important;right:-17px}
.retailer_product_right .views-field-php .item-list ul li{background:none!important;border:0px!important}

/************************************************/

.wrapper {
  margin: 50px auto;
  width: 350px;
  height: 500px;
  background: white;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 8px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 8px rgba(0,0,0,0.3);
  position: relative;
  z-index: 90;
}

.ribbon-wrapper-green {
  width: 127px;
  height: 105px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px;
}

.ribbon-green {
  font: bold 12px Sans-Serif;
  color: #333;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 17px;
  width: 168px;
  background-color: #BFDC7A;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45)); 
  background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:    -moz-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:     -ms-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:      -o-linear-gradient(top, #BFDC7A, #8EBF45); 
  color: #6a6340;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon-green:before, .ribbon-green:after {
  content: "";
  border-top:   3px solid #6e8900;   
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.ribbon-green:before {
  left: 22px;
}
.ribbon-green:after {
  right: 0;
}


.product_img img { max-height: 200px; max-width: 200px;width: auto;}
.node--product-and-coupon .d_view_store{width:100%;float:left;text-align:center;margin-top:15px;background:none repeat scroll 0 0 #FF9900;border-radius:15px}
.product_info .d_view_store{width:100%;float:left;text-align:center;margin-top:11px;}
.page-taxonomy-term #block-system-main .block-inner .node--product-and-coupon .d_view_store a,.page-search-site #block-system-main .block-inner .node--product-and-coupon .d_view_store a{color:#fff;font-size:13px!important;font-weight:bold;line-height:30px!important;text-decoration:none!important;}
.product_info .d_view_store a{ background: none repeat scroll 0 0 #FF9900; color: #FFFFFF;font-size: 13px !important;font-weight: bold;line-height: 30px !important;padding: 8px 26px;text-decoration: none !important;border-radius:13px}
.page-taxonomy-term #block-system-main .block-inner .node--product-and-coupon .field-name-field-product-images ,.page-search-site #block-system-main .block-inner .node--product-and-coupon .field-name-field-product-images {text-align:center;width:200px;height:200px;float:left}
.product_info .coupon_code1 .d_view_store a{padding:8px 14px}

/****************************************************************************/

.not-front #coupons-finder-form input.form-autocomplete {
    /*http://localhost/coupon/misc/throbber.gif*/
    
    background-image: url("../images/throbber_2.gif");
    background-position: 100% 5px;
    background-repeat: no-repeat;
    
}

.not-front #coupons-finder-form input.throbbing{
    background-image: url("../images//throbber_1.gif");
    background-position: 100% 5px;
    background-repeat: no-repeat;
}

.front #coupons-finder-form input.form-autocomplete {
    /*http://localhost/coupon/misc/throbber.gif*/
    
    background-image: url("../images/throbber_2.gif");
    background-position: 100% 12px;
    background-repeat: no-repeat;
    
}

.front #coupons-finder-form input.throbbing{
    background-image: url("../images//throbber_1.gif");
    background-position: 100% 12px;
    background-repeat: no-repeat;
}