/* $Id: blue-style.css,v 1.0.0 2010/01/29 08:18:15 symphonythemes Exp $ */

/*------------------------------------*\
	Basic Typography & Colors
\*------------------------------------*/
/* Hover/active link styles. Don't forget :focus for accessibility */
a,
a:link,
a:visited {
  color:#2a5b73;
  text-decoration: none;
}
a:focus,
a:hover,
a:active {
  color: #0E374B;
}


pre,
div.code {
  border-left: 5px solid #2a5b73;
  background: #f7f7f7;
  padding: 0.2em 10px;
}
.highlight {
  background: #2a5b73;
  color: #fff;
}

/* Pager */
.item-list .pager li a {
  color: #000;
}
.item-list .pager .pager-current,
.item-list .pager li a:hover {
  color:#2a5b73;
}

/* Button */
input.form-submit,
.checkout-buttons .checkout-cancel,
.checkout-buttons .checkout-back {
  background: url(../images/blue/button-bg.png) 0 0 repeat-x;
  color: #fff;
}
input.form-submit:hover,
.checkout-buttons .checkout-cancel:hover,
.checkout-buttons .checkout-back:hover {
  background: #2a5b73;
}
button:focus, button:active, input:focus, input:active, select:focus, select:active, textarea:focus, textarea:active {
  box-shadow: 0 0 7px #f3b700;
  -moz-box-shadow: 0 0 7px #f3b700;
  -webkit-box-shadow: 0 0 7px #f3b700;
}

/*------------------------------------*\
	Zone CSS
\*------------------------------------*/

.zone-user-wrapper {
  color: #fff;
  background: url(../images/blue/header-footer-bg.jpg);
}
/*  Zone footer  */
.zone-footer-wrapper {
  background: url(../images/blue/header-footer-bg.jpg);
  color: #fff;
}


/*------------------------------------*\
	NAVIGATION
\*------------------------------------*/
/* Main menu links */
ul#main-menu li a {
  color: #747474;
}
ul#main-menu li a.active,
ul#main-menu li a:hover {
  color:#2a5b73;
}
ul#main-menu li.first a.active,
ul#main-menu li.first a:hover {
  background: url(../images/blue/mainmenu-home-active.png) center center no-repeat;
}

/* Shopping menu */
.region-user-first .block-menu ul li a {
  color: #fff;
}
.region-user-first .block-menu ul li a:hover,
.region-user-first .block-menu ul li a.active {
  color: #2a5b73;
}


/* User menu */
.block-user-menu ul li a {
  color: #464b50;
}
.block-user-menu ul li a:hover,
.block-user-menu ul li a.active {
  color: #2a5b73;
}

/*------------------------------------*\
	BLOCKS CSS
\*------------------------------------*/
/* Block title */
.region-sidebar-second h2.block-title .last-word {
  color: #2a5b73;
}
.zone-postscript .region h2.block-title {
  color: #2a5b73;
}

/* News */
.view-list-articles .views-field-view-node a {
  background: url(../images/blue/bullet.png) 5px 8px no-repeat;
}

/* Block list */
.block-list .content ul li {
  background: url(../images/blue/bullet.png) 5px 10px no-repeat;
}
.zone-footer .block-list ul li {
  background: url(../images/footer-bullet.png) 0 10px no-repeat;
}
.zone-footer .block-list ul li a {
  color: #ff9400;
}
.zone-footer .block-list ul li a:hover {
  color: #fff;
}

/* Block slideshow products */
.jcarousel-skin-default .jcarousel-prev:hover {
  background: url(../images/blue/product-slider-prev-hover.png) 0 0 no-repeat;
}
.jcarousel-skin-default .jcarousel-next:hover {
  background: url(../images/blue/product-slider-next-hover.png) 0 0 no-repeat;
}


/* List product on category */
#block-system-main .content article.node-products.node-teaser ul.links a:hover {
  color: #2a5b73;
}

/* Product detail */
article.node-products .field-name-commerce-price .field-item {
  background: #2a5b73;
  color: #fff;
}
article.node-products form.commerce-add-to-cart .form-submit {
  background: url(../images/blue/add-to-cart-button.png) 0 center no-repeat;
}


/* Block poll */
.block.block-poll .content ul li {
  background: url(../images/blue/blue-list-style-3.png) no-repeat 0 10px;
}
